Bouncer.xcodeproj/project.xcworkspace/xcuserdata/afterxleep.xcuserdatad/UserInterfaceState.xcuserstate
/.DS_Store
Bouncer/Config/Config.swift
/.compile
/.build

# xcode-build-server files
buildServer.json
.compile
build/
xcuserdata/
build-sim/
ml/data/
ml/*.csv
ml/*.tsv
ml/SpamClassifier.mlmodel
